@model List<BlogTriple.Models.Hotels.HotelListDetails>

@{
    ViewBag.Title = "AllHotels";
}

@foreach (var hotel in Model)
{
    <div class="row mt-60">
        <div class="col-md-4">
            <img src="@hotel.ImageUrl" class="img-responsive">
        </div>
        <div class="col-md-4">
            <h2 class="hotel-details">Hotel @hotel.Name   </h2>
            <h3>@hotel.Stars Stars </h3>
      
            <a href="/Hotels/BookingDetails/@hotel.Id?destinationId=@hotel.DestinationId" class="btn btn-success">Book Now</a> 
        </div>
        <div class="col-md-4">
            <p class="lead">
                Pool - @hotel.Pool <br />
                Spa - @hotel.Spa <br />
                Fitnes - @hotel.Fitness  <br />
                Price per Night - @hotel.PricePerNight €
            </p>
        </div>
    </div>
}

