@model BlogTriple.Models.Destination
@{
    ViewBag.Title = "Destination";
}

<div class="container">
    <div class="well">
        <h2>Choose Your Destination</h2>
        @using (Html.BeginForm("Destination", "Hotels", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Town, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.Town,
                    new[] {
                        new SelectListItem { Text = "Barcelona", Value = "Barcelona" },
                        new SelectListItem { Text = "Madrid", Value = "Madrid" },
                        new SelectListItem { Text = "Vienna", Value = "Vienna" },
                        new SelectListItem { Text = "Sofia", Value = "Sofia" },
                    }, new { @class = "form-control" })


                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.From, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.From, new { @class = "form-control col-sm-10", @type = "date" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.To, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.To, new { @class = "form-control", @type = "date" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Rooms, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.Rooms,
                    new[] {
                        new SelectListItem { Text = "1", Value = "1" },
                        new SelectListItem { Text = "2", Value = "2" },
                        new SelectListItem { Text = "3", Value = "3" },
                        new SelectListItem { Text = "4", Value = "4" },
                    }, new { @class = "form-control" })


                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Index", "Article", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Submit" class="btn btn-success" />

                </div>
            </div>
        }
    </div>
</div>

