@model IEnumerable<BlogTriple.Models.CarListingModel>
    
@foreach (var car in Model)
{
    <div class="row mt-60">
        <div class="col-md-6">
            <img src="@car.ImageUrl" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <h2>@car.Make @car.Model (@car.Year)</h2>
            <h3>@car.PricePerDay EUR/Day</h3>
            <a href="/Cars/CarDetails/@car.Id" class="btn btn-primary">Details</a>
            <a href="/Cars/Create" class="btn btn-success">Rent this car</a>
        </div>
    </div>
}