@model BlogTriple.Models.CarDetailsModel
    
<div class="row mt-60">
    <div class="col-md-4">
        <img src="@Model.ImageUrl" class="img-responsive" />
    </div>
    <div class="col-md-4">
        <h2 style="margin-top: 0">@Model.Make @Model.ModelCar</h2>
        <h3>@Model.Year</h3>
        <h3>@Model.PricePerDay EUR/Day</h3>
        <a href="/Cars/Create" class="btn btn-success">Rent this car</a>
    </div>
    <div class="col-md-4">
        <p class="lead">@Model.Color</p>
        <p class="lead">@Model.Power hp.</p>
    </div>
</div>