@model BlogTriple.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2 align="center">Your reservation has been sent successfuly</h2>

<div>
    <h4>Order Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <hr align="left" width="300"/>
        <dt>
            @Html.DisplayNameFor(model => model.Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropOffDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropOffDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropOffTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropOffTime)
        </dd>

        <hr align="left" width="300"/>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>


